<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello! My name is Eleano Barone, I'm majoring in Software Engineering and Economics at Allegheny College. 
          I’m fascinated on how code can shape the future and make everyday tasks easier. 
          This is exactly what I want to do, and I’m excited to dive deeper into both fields. 
      </div>
      <div class="col-lg-4">
        <p>Being fluent in Italian and English also helps me see things from different perspectives, and I’m always looking forward to learning from and working with others who share my passion. I’m confident that this path is where I’m meant to be, and I can’t wait to take on challenges along the way!
       </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
